@font-face {
  font-family: "Roboto";
  scr: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  scr: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  scr: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-grey: #EEEEEE;
  --basic-lite-grey: #E1E1E1;
  --basic-green: #00CA74;
  --basic-red: #FB565A;
  --basic-yellow: #EFC849;
  --basic-extra-light: #888888;
  --basic-white: #ffffff;
  
  --special-red:#E74246;
  --special-extra-red: #D7373B;
  --special-green: #00BC6C;
  --special-extra-green: #00AA62;
  --special-yellow: #EAB534;
  --special-extra-yellow: #E5A722;
  --special-grey: #DFDFDF;
  --special-extra-grey: #D5D5D5;
  --special-dark-grey: #4D4D4D;
}

/*Body*/

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.headers {
  color: var(--basic-black);
}

.book {
  margin-top: 100px;
}

.book-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  width: 200;
  margin-left: 100px;
  margin-top: ;
}

.main-header-bar {
  background-color: var(--basic-grey);
}

.main-header {
  background-color: var(--basic-grey);
  margin-bottom: 70px;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.site-navigation a,
.basket a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--basic-red);
}

.logos-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book-list {
  list-style: none;
}

.book-item {
  text-align: center;
}

.book-item {
  font-size: 24px;
  line-height: 30px;
  width: 300px;
}
  
.button {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 250px;
}

.contacts-phone {
  color: inherit;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border-color: var(special-grey);
  border-radius: 3px;
}

.appointment-item input:focus,
.appointment-item input:hover {
  border-color: var(--basic-black);
}

.social-button {
  color: inherit;
  background-color: var(--basic-lite-grey);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.main-footer {
  margin-left: 300px;
  color: var(--basic-black);
}

.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social{
  text-align: center;
}

.footer-social ul{
 list-style: none;
}

.footer-call h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white)
}

.logos-list {
  list-style: none;
}

.headers-bold {
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
}

.motto {
  background-color: var(--basic-grey);
}

.headers-motto {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

.headers-losung {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  background-position: center;
  background-repeat: no-repeat;
}

.headers-description {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}
 
.headers-orders {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}
 
.page {
  height: 100%;
}

.page-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special-dark-grey)
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  box-shadow: 0 0 10px color: var(--basic-black)
}

.catalog-item a {
  color: var(--basic-white)
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--special-grey)
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
}
