@font-face{
  font-family: "Roboto";
  scr: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Roboto";
  scr: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Roboto";
  scr: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-grey: #EEEEEE;
  --basic-lite-grey: #E1E1E1;
  --basic-green: #00CA74;
  --basic-red: #FB565A;
  --basic-yellow: #EFC849;
  --basic-extra-light: #888888;
  --basic-white: #ffffff;
  
  --special-red:#E74246;
  --special-extra-red: #D7373B;
  --special-green: #00BC6C;
  --special-extra-green: #00AA62;
  --special-yellow: #EAB534;
  --special-extra-yellow: #E5A722;
  --special-grey: #DFDFDF;
  --special-extra-grey: #D5D5D5;
  
}

/*Body*/

.page-body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.headers {
  color: var(--basic-black);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.main-header {
  background-color: var(--basic-grey);
}

.site-navigation a,
.basket a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--basic-red);
}

.book-list {
  list-style: none;
}

.book-item {
  text-align: center;
}

.book-item h3{
  font-size: 24px;
  line-height: 30px;
}
  
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.contacts-phone {
  color: inherit;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border-color: var(special-grey);
  border-radius: 3px;
}

.appointment-item input:focus,
.appointment-item input:hover {
  border-color: var(--basic-black);
}

.social-button {
  color: inherit;
  background-color: var(--basic-lite-grey);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.main-footer {
  color: var(--basic-black);
}

.footer-social{
  text-align: center;
}

.footer-social ul{
 list-style: none;
}

.footer-call h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white)
}

.logos-list {
  list-style: none;
}